@import url(style.css);

@media screen and (max-width: 480px){
  h1{
    text-align: center;
  }
  nav{
    position: static;
    text-align: center;
  }
  .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video{
    width: auto;
  }
  .lista-diferenciales, .imagenes-diferenciales{
    width: 100%;
  }
}